<div class='form-class-container'>
  <form class='form-class' [formGroup] = 'formGroup'>
    <div class="div-form-class">
      <label for='frstname' class='label'>First name</label>
      <input id='frstname' class='input' type="text" formControlName='firstname'> 
    </div>
    <div *ngIf='formGroup.controls.firstname.errors?.minlength'>
      <p class='errorMessage'>Pattern gresit</p>
    </div>
  
    <div class="div-form-class">
      <label for='lstname' class='label'>Last name</label>
      <input id='lstname' class='input' type="text" formControlName='lastname'> 
    </div>
      
    <div class="div-form-class">
      <label for='projectName' class='label'>Project name</label>
      <input id='projectName' class='input' type="text" formControlName='project'> 
    </div>

    <div class="div-form-class radio">
      <input  id="managerRadioButton" type="radio" name="position" value="manager" formControlName='position'/> <label class='radio-label' for="managerRadioButton">Manager</label>
      <input  id="employeeRadioButton" type="radio" name="position" value="employee" formControlName='position'/> <label class='radio-label' for="employeeRadioButton">Employee</label>
    </div>

    <div class="div-form-class" *ngIf="formGroup.controls.position.value==='employee'">
      <select class='select' id=listOfManagers formControlName='manager'>
        <option  value="" disabled selected>Select your manager</option>
        <option *ngFor="let manager of managersList" value="{{manager}}">{{manager}}</option>
      </select>
    </div>

    <button [disabled]='!formGroup.valid' class= "submit-class" type='submit' (click)='submit()'>Submit</button>

  </form>
</div>